.profile-edit {
	textarea {
		max-width: 100%;
		min-width: 100%;
		min-height: 150px;
	}
}

.profile-view {
	> img {
		max-width: 150px;
		border-radius: 50%;
		border: 2px solid #fff;
	}

	> h4 {
		letter-spacing: 0;
	}

	+.color-list {
		.tile-holder {
	    width: calc(33.33% - 20px);

	    @media (max-width: 850px) {
    		width: 100%;
	    }
		}
	}
}