.home-page {
	
	.color-list {
		width: 100%;
    max-width: 1300px;
		min-height: 40vh;
		margin: 0 auto;

		.empty-list {
			width: 100%;
			text-align: center;
			font-size: 1.3em;
			padding: 30vh 0 0 0;
		}
	}

	.home-message {
    margin: 0;
    text-align: center;
    padding: 7px 0 7px 0;
    font-size: .9em;
    color: #444;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    > span {
    	float: right;
    	margin: 0 10px 0 0;
    	text-decoration: underline;
    	cursor: pointer;
    }
	}
}