$primary-color: #222;
$secondary-color: #444;

$link-color: #368cc2;

$main-header: #212121;
$second-header: #4d4d4d;
$third-header-bold: #888;
$third-header: #a0a0a0;

//

$darker-border: #e1e1e1;
$light-border: #f1f1f1;